@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <div class="alert alert-danger" role="alert">
        <h1 class="text-danger">@ViewData["Title"]</h1>
        No tienes acceso a este recurso.
    </div>
</header>
