@using PerfilRoblero.Utilidades
@{
    ViewData["Title"] = "Chat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .table-dark {
        background-color: blueviolet;
    }
</style>
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6">
            <h2 class="text-primary">Tabla de Mensages</h2>
        </div>
        <div class="col-lg-6">
            <a class="btn btn-outline-warning" asp-area="Profile" asp-controller="Home" asp-action="Index" > <i class="bi bi-back"></i>Inicio </a>
            <a class="btn btn-outline-primary" asp-action="Upsert"><i class="bi bi-send-fill"></i></a>
        </div>
    </div>
    <br />

    <div class="p-4 border rounded table-responsive bg-light">
        <table id="tblDatos" class="table table-success table-responsive table-hover">
            <thead class="table-dark">
                <tr class="table-info">
                    <th>Nombre</th>
                    <th>Mensage</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
 </div>


@section Scripts {
    <script src="~/js/Chat.js"></script>
}

